# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.htm
*.obj
*.manifest
*.res
*.idb
*.pdb
*.ib_pdb_index
*.csv
*.user
*.ncb
*.suo
*.pch
*.ib_tag
*.dep
*.lib
*.exe
*.ilk
